
/**
 * 由 MrZhang 提供技术支持
 * Powered by elegant-admin
 * Github https://github.com/zhangyao1990/elegant-admin
 */

[data-v-82328794]:root{--el-fill-color-light: #f1faff}.tab-segmented[data-v-82328794]{width:100%}.opt-item[data-v-82328794]{display:flex;align-items:center}.opt-item .opt-item__icon[data-v-82328794]{background:var(--el-color-primary);color:var(--el-color-white);border-radius:7px;padding:4px}.opt-item .opt-item__content[data-v-82328794]{box-sizing:border-box;flex:1;margin-left:20px;font-size:14px}.opt-item .opt-item__content .opt-item__second[data-v-82328794]{margin-top:3px;font-size:12px;color:var(--el-text-color-placeholder)}
