
/**
 * 由 MrZhang 提供技术支持
 * Powered by elegant-admin
 * Github https://github.com/zhangyao1990/elegant-admin
 */

[data-v-88666a55]:root{--el-fill-color-light: #f1faff}.node-box[data-v-88666a55]{position:relative;padding-bottom:50px}.node-box .end-node[data-v-88666a55]{position:relative;background:var(--el-border-color-lighter);padding:7px 20px;border-radius:24px;cursor:pointer;overflow:visible;z-index:10;box-shadow:var(--el-box-shadow-light)}.node-box .end-node[data-v-88666a55]:hover{box-shadow:0 0 5px 0 var(--el-color-primary)}
