
/**
 * 由 MrZhang 提供技术支持
 * Powered by elegant-admin
 * Github https://github.com/zhangyao1990/elegant-admin
 */

[data-v-6bae5507]:root{--el-fill-color-light: #f1faff}.listener-box[data-v-6bae5507]{border:1px dashed var(--el-border-color);border-radius:var(--el-border-radius-base);margin-top:10px;padding:7px;position:relative}.listener-box[data-v-6bae5507]:hover{border-color:var(--el-color-primary)}.listener-box:hover .listener-close[data-v-6bae5507]{display:block}.listener-box .listener-close[data-v-6bae5507]{position:absolute;top:-7px;right:-7px;z-index:1;display:none}
