
/**
 * 由 MrZhang 提供技术支持
 * Powered by elegant-admin
 * Github https://github.com/zhangyao1990/elegant-admin
 */

[data-v-2ac314bc]:root{--el-fill-color-light: #f1faff}.el-card[data-v-2ac314bc]{margin-bottom:15px}.el-card[data-v-2ac314bc] .el-card__body{display:flex;justify-content:center;cursor:pointer}.el-card i[data-v-2ac314bc]{font-size:24px}[data-v-2ac314bc] .el-dialog .el-dialog__body{padding:0 16px 16px}[data-v-2ac314bc] .el-dialog .icon-box{display:flex;align-items:center;justify-content:center;width:80px;height:80px;border:1px solid #e0e8ef}[data-v-2ac314bc] .el-dialog .icon-box i{font-size:60px}[data-v-2ac314bc] .el-dialog .icon-info{display:flex;flex-direction:column;justify-content:space-between;height:100%}[data-v-2ac314bc] .el-dialog .icon-info .title{font-size:24px;font-weight:700}
