
/**
 * 由 MrZhang 提供技术支持
 * Powered by elegant-admin
 * Github https://github.com/zhangyao1990/elegant-admin
 */

[data-v-24d0cd3f]:root{--el-fill-color-light: #f1faff}.swiper[data-v-24d0cd3f]{width:100%;height:300px}.swiper .swiper-slide[data-v-24d0cd3f]{display:flex;align-items:center;justify-content:center;font-size:36.4px;font-weight:700;text-align:center;background-color:#fff}
