
/**
 * 由 MrZhang 提供技术支持
 * Powered by elegant-admin
 * Github https://github.com/zhangyao1990/elegant-admin
 */

.xgplayer-video[data-v-adeb3127] .danmu>*{font-size:20px;font-weight:700;color:#fff;text-shadow:1px 1px 0 #000,-1px -1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000}.xgplayer-video[data-v-adeb3127] .xgplayer-controls{background-image:linear-gradient(180deg,transparent,rgb(0 0 0 / 30%))}.xgplayer-video[data-v-adeb3127] .xgplayer-progress-tip{padding:0 10px;line-height:25px;color:#fff;background:rgba(0,0,0,.5);border:0;border-radius:25px}.xgplayer-video[data-v-adeb3127] .xgplayer-enter-spinner{width:50px;height:50px}
