
/**
 * 由 MrZhang 提供技术支持
 * Powered by elegant-admin
 * Github https://github.com/zhangyao1990/elegant-admin
 */

[data-v-fa250e82]:root{--el-fill-color-light: #f1faff}.copyright[data-v-fa250e82]{margin-top:1rem;margin-bottom:1rem;display:flex;flex-wrap:wrap;align-items:center;justify-content:center;padding-left:1rem;padding-right:1rem;font-size:.875rem;line-height:1.25rem}.copyright span[data-v-fa250e82],.copyright a[data-v-fa250e82]{padding-left:.25rem;padding-right:.25rem}.copyright a[data-v-fa250e82]{text-align:center;text-decoration:none;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s}.copyright a[data-v-fa250e82]:hover{--un-text-opacity:1;color:rgb(34 34 34 / var(--un-text-opacity))}.dark .copyright a[data-v-fa250e82]:hover{--un-text-opacity:1;color:rgb(246 246 246 / var(--un-text-opacity))}
