
/**
 * 由 MrZhang 提供技术支持
 * Powered by elegant-admin
 * Github https://github.com/zhangyao1990/elegant-admin
 */

[data-v-3ad6f67a]:root{--el-fill-color-light: #f1faff}.menu-box[data-v-3ad6f67a]{height:100%}.menu-box .el-tree.menu[data-v-3ad6f67a] .el-tree-node__content{height:34px}.menu-box .menu-l[data-v-3ad6f67a],.menu-box .menu-r[data-v-3ad6f67a]{border:1px solid #e6e6e6}.menu-box .el-footer[data-v-3ad6f67a]{border-top:1px solid #e6e6e6}.custom-tree-node[data-v-3ad6f67a]{display:flex;flex:1;align-items:center;justify-content:space-between;height:100%;padding-right:24px;font-size:14px}.custom-tree-node .label[data-v-3ad6f67a]{display:flex;align-items:center;height:100%}.custom-tree-node .label .el-tag[data-v-3ad6f67a]{margin-left:5px}.custom-tree-node .do[data-v-3ad6f67a]{display:none;opacity:.9}.custom-tree-node .do i[data-v-3ad6f67a]{padding:5px;margin-left:5px;color:#999}.custom-tree-node .do i[data-v-3ad6f67a]:hover{color:#333}.custom-tree-node:hover .do[data-v-3ad6f67a]{display:inline-block}
