
/**
 * 由 MrZhang 提供技术支持
 * Powered by elegant-admin
 * Github https://github.com/zhangyao1990/elegant-admin
 */

[data-v-0c3226ae]:root{--el-fill-color-light: #f1faff}.message[data-v-0c3226ae]{position:relative;box-sizing:border-box;width:200px;padding:5px 12px;line-height:18px;color:#fff;word-break:break-all;background-color:var(--el-color-primary);border-color:var(--el-color-primary);border-radius:6px}.message[data-v-0c3226ae]:after{position:absolute;top:8px;left:-10px;width:0;height:0;overflow:hidden;content:"";border-color:var(--el-color-primary) transparent transparent;border-style:solid dashed dashed;border-width:10px}
