
/**
 * 由 MrZhang 提供技术支持
 * Powered by elegant-admin
 * Github https://github.com/zhangyao1990/elegant-admin
 */

[data-v-22361e3b]:root{--el-fill-color-light: #f1faff}.scrollbar-list-item[data-v-22361e3b]{display:flex;align-items:center;background:var(--g-container-bg)}.scrollbar-list-item__divider[data-v-22361e3b]{position:absolute;right:0;bottom:0;left:0;height:1px;pointer-events:none;background-color:var(--g-border-color);transition:background-color .3s var(--n-bezier)}
