
/**
 * 由 MrZhang 提供技术支持
 * Powered by elegant-admin
 * Github https://github.com/zhangyao1990/elegant-admin
 */

[data-v-d483023e]:root{--el-fill-color-light: #f1faff}.scrollbar-list-item[data-v-d483023e]{display:flex;align-items:center;background:var(--g-container-bg)}.scrollbar-list-item__divider[data-v-d483023e]{height:1px;position:absolute;bottom:0;left:0;right:0;background-color:var(--g-border-color);transition:background-color .3s var(--n-bezier);pointer-events:none}
