
/**
 * 由 MrZhang 提供技术支持
 * Powered by elegant-admin
 * Github https://github.com/zhangyao1990/elegant-admin
 */

[data-v-fdc6a55e]:root{--el-fill-color-light: #f1faff}[data-v-fdc6a55e] .el-avatar{background:var(--el-color-primary)}[data-v-fdc6a55e] .el-tree{--el-tree-node-content-height: 40px}[data-v-fdc6a55e] .el-tree .el-tree-node__content{border-radius:8px;margin:2px 0;padding-right:20px}[data-v-fdc6a55e] .el-tree .is-active{color:var(--el-color-primary)}[data-v-fdc6a55e] .el-tree .is-active .is-selected{display:block}.el-card[data-v-fdc6a55e]{background-color:transparent}.el-card[data-v-fdc6a55e] .el-card__header{padding:10px!important}.el-card[data-v-fdc6a55e] .el-card__body{padding:0!important}.org-tree[data-v-fdc6a55e]{height:270px;padding:5px}.is-selected[data-v-fdc6a55e]{display:none;padding-right:15px}
