
	/**
 * 	由 智慧网络医院 提供技术支持
 */
	
[data-v-18181776]:root{--el-menu-item-height: 50px;--el-menu-sub-item-height: 50px}.notfound[data-v-18181776]{display:flex;align-items:center;justify-content:space-between;width:700px;position:absolute;top:50%;left:50%;transform:translate(-50%) translateY(-50%)}.notfound .icon[data-v-18181776]{width:400px;height:400px}.notfound .content h1[data-v-18181776]{margin:0;font-size:72px;color:var(--el-text-color-primary)}.notfound .content .desc[data-v-18181776]{margin:20px 0 30px;font-size:20px;color:var(--el-text-color-secondary)}
