
	/**
 * 	由 智慧网络医院 提供技术支持
 */
	
[data-v-e58c0a74]:root{--el-menu-item-height: 50px;--el-menu-sub-item-height: 50px}[data-v-e58c0a74] .penultimate-node .el-tree-node__children{padding-left:60px;line-height:12px;white-space:pre-wrap}[data-v-e58c0a74] .penultimate-node .el-tree-node__children .el-tree-node{display:inline-block}[data-v-e58c0a74] .penultimate-node .el-tree-node__children .el-tree-node__content{padding-right:10px;padding-left:10px!important}[data-v-e58c0a74] .penultimate-node .el-tree-node__children .el-tree-node__content .el-tree-node__expand-icon{display:none}
