
	/**
 * 	由 智慧网络医院 提供技术支持
 */
	
[data-v-5a99bcdc]:root{--el-menu-item-height: 50px;--el-menu-sub-item-height: 50px}footer[data-v-5a99bcdc]{display:flex;align-items:center;justify-content:center;margin:32px 0 20px;font-size:14px;color:var(--el-text-color-secondary)}footer span[data-v-5a99bcdc],footer a[data-v-5a99bcdc]{padding:0 5px}footer a[data-v-5a99bcdc]{color:var(--el-text-color-secondary);text-decoration:none;transition:var(--el-transition-color)}footer a[data-v-5a99bcdc]:hover{color:var(--el-text-color-primary)}footer .icon[data-v-5a99bcdc]{padding:0;font-size:18px}
